.game-card {
  opacity: 0;
  background-color: transparent;
  perspective: 1500px;
  transition: opacity 0.5s;
}

.game-card_active {
  opacity: 1;
}

.game-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.game-card_open .game-card__inner {
  transform: rotateY(180deg);
}

.game-card__animal {
  transform: rotateY(180deg);
}

.game-card__backing,
.game-card__animal {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.game-card__backing-image,
.game-card__animal-image {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.25rem;
  box-shadow: 0 0.1rem 0.5rem var(--theme-shadow-color);
  border: 2px solid var(--theme-border-color);
}
.game-field {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  min-height: 0;
}

.game-field__cards {
  flex: 0 1 calc(var(--vertical-cards-count) * var(--game-card-total-height));
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(var(--horizontal-cards-count), 1fr);
  grid-template-rows: repeat(var(--vertical-cards-count), 1fr);
  width: 100%;
  max-width: calc(var(--horizontal-cards-count) * var(--game-card-total-width));
}
.game-menu {
  height: 100%;
  overflow: auto;
}

.game-menu__header {
  font-weight: bold;
  text-align: center;
  color: var(--theme-text-highlight-color);
  margin: 0.5rem 0;
}

.game-menu__item {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
}

.game-menu__item-value {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-self: center;
}

.game-menu__debug {
  white-space: pre;
}

.game-menu__action-button {
  background-color: var(--theme-button-background);
  color: var(--theme-button-text-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.game-over {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  height: 100%;
}

.game-over__header {
  text-align: center;
  color: var(--theme-text-highlight-color);
  font-size: 1.25rem;
  text-shadow: 0 0 0.5rem var(--theme-text-highlight-color);
  margin-bottom: 1rem;
}

.game-over__statistic {
  border: 1px solid var(--theme-border-color);
  border-radius: 0.5rem;
}
.game-over__statistic-title {
  text-align: center;
  color: var(--theme-text-highlight-color);
  border-bottom: 1px solid var(--theme-border-color);
  padding: 0.5rem;
}

.game-over__statistic-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem;
}

.game-over__statistic-message + .game-over__statistic-message {
  margin-top: 0.5rem;
}

.game-over__actions {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.game-over__action-button {
  background-color: var(--theme-button-background);
  color: var(--theme-button-text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
.game {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;

  --game-card-width: 4rem;
  --game-card-height: 6rem;
  --game-card-gap: 0.5rem;
  --game-card-total-width: calc(var(--game-card-width) + var(--game-card-gap));
  --game-card-total-height: calc(
    var(--game-card-height) + var(--game-card-gap)
  );
}

.game__spacer {
  flex: 1 1 0;
}

.game__content {
  flex: 0 1 calc(var(--game-card-total-width) * 5);
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
  padding: 1rem;
}

.game__fallback-menu {
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--theme-button-background);
  color: var(--theme-button-text-color);
  border: none;
  border-radius: 0.3125rem;
}
body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  background: var(--theme-background);
  color: var(--theme-text-main-color);
}

.menu {
  background-color: var(--theme-modal-background);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem var(--theme-shadow-color);
}
