.game-over {
  height: 100%;
}

.game-over__actions {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.game-over__last-card {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  flex: 1 1 431px;
  min-height: 0;
}

.game-over__last-card-image {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 0;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  border: 4px solid var(--theme-border-color);
}

.game-over__animal-phrase {
  text-align: center;
  margin-bottom: 0.5rem;
}
