.game-card {
  background-color: transparent;
  perspective: 1000px;
  width: var(--game-card-size);
  aspect-ratio: 9 / 13;
}

.game-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.game-card_open .game-card__inner {
  transform: rotateY(180deg);
}

.game-card__animal {
  transform: rotateY(180deg);
}

.game-card__backing,
.game-card__animal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 2px solid var(--theme-border-color);
  box-sizing: border-box;
}

.game-card__backing-image,
.game-card__animal-image {
  width: 100%;
  height: 100%;
}

.game-card__animal-image {
  object-fit: cover;
}
