.game {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;

  --game-card-size: 4rem;
}

.game__spacer {
  flex: 1 1 0;
}

.game__content {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
  padding: 0.5rem;
}

.game__fallback-menu {
  position: sticky;
  bottom: 0.5rem;
}
