.game {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;

  --game-card-width: 4rem;
  --game-card-height: 6rem;
  --game-card-gap: 0.5rem;
  --game-card-total-width: calc(var(--game-card-width) + var(--game-card-gap));
  --game-card-total-height: calc(
    var(--game-card-height) + var(--game-card-gap)
  );
}

.game__spacer {
  flex: 1 1 0;
}

.game__content {
  flex: 0 1 calc(var(--game-card-total-width) * 5);
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
  padding: 1rem;
}

.game__fallback-menu {
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--theme-button-background);
  color: var(--theme-button-text-color);
  border: none;
  border-radius: 0.3125rem;
}
