.panel {
  border: 1px solid var(--theme-border-color);
  border-radius: 0.5rem;
}

.panel + .panel {
  margin-top: 0.5rem;
}

.panel__title {
  text-align: center;
  color: var(--theme-text-highlight-color);
  border-bottom: 1px solid var(--theme-border-color);
  padding: 0.5rem;
}

.panel__content {
  padding: 0.5rem;
}
