.game-gui {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  gap: 0.25rem;
}

.game-gui__level {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

.game-gui__timer {
  width: 2.5rem;
  font-size: 1rem;
}
