body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  background: var(--theme-background);
  color: var(--theme-text-main-color);
}

button {
  background-color: var(--theme-button-background);
  color: var(--theme-button-text-color);
  border: none;
  border-radius: 0.3125rem;
  padding: 0.5rem;
}
