body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  background: var(--theme-background);
  color: var(--theme-text-main-color);
}

.menu {
  background-color: var(--theme-modal-background);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem var(--theme-shadow-color);
}
