:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.app-root {
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 16px);
  margin: 8px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.game-field {
  flex: 1 0 auto;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.game-field-card {
  background-color: transparent;
  perspective: 1000px;
}

.game-field-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 8px;
  border: 1px black solid;
}

.game-field-card_open .game-field-card__inner {
  transform: rotateY(180deg);
}

.game-field-card__back {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.game-field-card__front {
  background: #bbb;
}

.game-field-card__back,
.game-field-card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
