:root {
  color: var(--theme-text-color);
  background-color: var(--theme-background-color);
}

body {
  margin: 0;
}

/* TODO do we need buttons in final design? Maybe better to use icons? */
button {
  background: var(--theme-button-background-color);
  color: var(--theme-button-text-color);
}
