:root {
  --theme-background: #140c21ff;
  --theme-modal-background: #1e003cff;
  --theme-primary-color: #6e48aaff;
  --theme-accent-color: #9400d3ff;
  --theme-button-background: #4b0082ff;
  --theme-text-main-color: #e0bffeff;
  --theme-text-highlight-color: #ffccffff;
  --theme-shadow-color: #ce02ffaa;
  --theme-border-color: #ce02ffaa;
  --theme-deep-shadow-color: #0000004c;
}

[data-theme="light"] {
  --theme-background: #eae7f2ff;
  --theme-modal-background: #ffffffcc;
  --theme-primary-color: #6e48aaff;
  --theme-accent-color: #9400d37a;
  --theme-button-background: #b5a1d6ff;
  --theme-text-main-color: #140c21ff;
  --theme-text-highlight-color: #4b0082ff;
  --theme-shadow-color: #9400d355;
  --theme-border-color: #6e48aa88;
}
